# üìò Data Types and Structures ‚Äì Answers

# 1. What are data structures and why important?

Answer:

Data structures are ways to store and organize data efficiently.

They are important because they make data access, modification, and processing faster and more efficient.

# 2 Explain the difference between mutable and immutable data types with examples.

Answer:

* bold text** Mutable ‚Üí Can be changed (List, Dictionary, Set)
* Immutable ‚Üí Cannot be changed (Tuple, String)

In [ ]:
# Mutable
lst = [1,2,3]
lst.append(4)

# Immutable
t = (1,2,3)
# t[0] = 5  ‚ùå Error

# 3 What are the main differences between lists and tuples in Python.

Answer:

| List    | Tuple     |
| ------- | --------- |
| Mutable | Immutable |
| Uses [] | Uses ()   |
| Slower  | Faster    |

# 4 Describe how dictionaries store data

Answer:

Dictionaries store data as key-value pairs using a hash table for fast lookup.

# 5 Why might you use a set instead of a list in Python.

Answer:

Because sets:
* Do not allow duplicates
* Provide faster searching

# 6 What is a string in Python, and how is it different from a list.

Answer:

A string is a sequence of characters.

Unlike list, string is immutable.

# 7  How do tuples ensure data integrity in Python.

Answer:

Since tuples cannot be modified, data remains unchanged.

# 8 What is a hash table, and how does it relate to dictionaries in Python.

Answer:

A data structure that stores key-value pairs using a hashing function.

Python dictionaries use hash tables internally.

# 9 Can lists contain different data types in Python.

In [3]:
#Yes

lst = [1, "Vijay", 3.5]
print(lst)

[1, 'Vijay', 3.5]

#10  Explain why strings are immutable in Python.

Answer:

To improve performance, memory optimization, and security.

# 11 What advantages do dictionaries offer over lists for certain tasks.

Answer:

* Faster lookup

* Access by key instead of index

* Better for structured data

# 12 Describe a scenario where using a tuple would be preferable over a list.

Answer:

When data should not change (e.g., coordinates).

# 13 How do sets handle duplicate values in Python.

Answer:

Sets automatically remove duplicate values.

# 14 How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries.

Answer:

* List ‚Üí checks value

* Dictionary ‚Üí checks key

# 15 Can you modify the elements of a tuple? Explain why or why not.

Answer:

* Faster lookup

* Access by key instead of index

* Better for structured data

# 16 What is a nested dictionary, and give an example of its use case.

In [5]:
student = {
    "Vijay": {"age": 22, "city": "Delhi"}
}

# 17 Describe the time complexity of accessing elements in a dictionary.

Answer:

 average case.

# 18 In what situations are lists preferred over dictionaries.

Answer:

When order matters and duplicates are allowed.

# 19 Why are dictionaries considered unordered, and how does that affect data retrieval.

Answer:

Traditionally no fixed index. Retrieval is based on keys.

# 20 Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:


*   List ‚Üí By index
*   Dictionary ‚Üí By key

# üíª Practical Questions (Code)

# 1. Create a string with your name and print it.

In [ ]:
name = "Vijay"
print(name)

Vijay

# 2. Find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

# 3. Slice the first 3 characters from the string "Python Programming".

In [8]:
print("Python Programming"[:3])

Pyt

# 4. Convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

# 5. Replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
print("I like apple".replace("apple","orange"))

I like orange

# 6. Create a list with numbers 1 to 5 and print it.

lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

In [ ]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

# 7. Append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

# 8. Remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = ['a','b','c','d']
print(lst[1])

b

# 9. Access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

# 10. Reverse the list [10, 20, 30, 40, 50].

In [9]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

# 11. Create a tuple with the elements 100, 200, 300 and print it.

In [10]:
t = (100,200,300)
print(t)

(100, 200, 300)

# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red','green','blue','yellow')
print(t[-2])

blue

# 13. Find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
print(min((10,20,5,15)))

5

# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t = ('dog','cat','rabbit')
print(t.index("cat"))

1

# 15. Create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple","banana","mango")
print("kiwi" in fruits)

False

# 16. Create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

# 17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [12]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

# 18. Remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
print({1,2,3}.union({3,4,5}))

{1, 2, 3, 4, 5}

# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
print({1,2,3}.intersection({2,3,4}))

{2, 3}

# 21. Create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d = {"name":"John","age":25,"city":"NY"}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

# 22. Add a new key-value pair "country": "USA" to the dictionary {"name": "John", "age": 25}.

In [ ]:
d = {'name':'John','age':25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}.

In [ ]:
d = {'name':'Alice','age':30}
print(d["name"])

Alice

# 24. Remove the key "age" from the dictionary {"name": "Bob", "age": 22, "city": "New York"}.

In [ ]:
d = {'name':'Bob','age':22,'city':'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

# 25. Check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}.

In [ ]:
d = {'name':'Alice','city':'Paris'}
print("city" in d)

True

# 26. Create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lst = [1,2,3]
t = (4,5,6)
d = {"a":1}
print(lst,t,d)

[1, 2, 3] (4, 5, 6) {'a': 1}

# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
lst = [random.randint(1,100) for _ in range(5)]
lst.sort()
print(lst)

[23, 30, 59, 70, 71]

# 28. Create a list with strings and print the element at the third index.

In [ ]:
lst = ["a","b","c","d","e"]
print(lst[3])

d

# 29. Combine two dictionaries into one and print the result.

In [ ]:
d1 = {"a":1}
d2 = {"b":2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

# 30. Convert a list of strings into a set.

In [ ]:
lst = ["a","b","c","a"]
print(set(lst))

{'a', 'b', 'c'}